body{
    background-color: #0f0f0f;
   
    font-family:  "Funnel Display", sans-serif;
}
html{

    /* d5ff3f */
    /* ff3c00 */

    --mainColor : #B2FF5A;
    --secondaryDarkGray : #171717;
    --secondaryLightGray :#292929;
    --mainParagraphGray:#909090;
}
.cursor{
    width: 20px;
    height: 20px;
    background-color: var(--mainColor);
    border-radius: 50%;
    position: fixed;
    z-index: 9999999999999999999999999;
}
header{
    height: 180vh;
    overflow: hidden;
    /* background-color: var(--mainColor); */
    /* background-color: #FF6F07; */
    background-image: url(../imgs/editedImgs/loop-earplugs-modal.webp);
    background-position: top;
    background-size: cover;
    background-attachment: fixed;
    /* padding-top: 48px; */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.overlayDark{
    background-color: #000000a7;
    padding-top: 48px;
}
.logo h2 ,nav ul li a{
    font-family: fantasy;
    color: var(--mainColor);
}
.logo {
    position: relative;
    
}
.logo h2{
    font-size: xx-large;
    
}
nav{
    display: flex;
    /* mix-blend-mode: difference; */
}
nav ul li a{
    font-size: larger;
}
nav ul{
    display: flex;
}
nav ul li {
    /* border: 1px solid black; */
    padding: 8px;
}
.burger{
    background-color: transparent;
    cursor: pointer;
        width: 60px;
    height: 60px;
    z-index: 9999999999;
    border: none;
}
.burger::before {
    content: "";
    position: absolute;
    width: 40px;
    height: 2px;
    background-color: var(--mainColor);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -3px);
    transition: 0.3s all;
    will-change: transform;
    
}
.burger::after {
    content: "";
    position: absolute;
    width: 40px;
    height: 2px;
    background-color: var(--mainColor);
    top: 50%;
    left: 50%;
    transform: translate(-50%, 3px);
    transition: 0.3s all;
    will-change: transform;


}
.active.burger::before{
    transform: translate(-50%,0) rotate(45deg);
}
.active.burger::after{
    transform: translate(-50%,0) rotate(-45deg);
}

.overlay{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #fff;
    z-index: 1024;
    display: flex;
    will-change: transform;
    clip-path: polygon( 0 0 , 100% 0 , 100% 0 , 0 0); 
}
.overlayMenu{
 position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    gap: 1em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.menuItem p {
    font-size: 3rem;
    font-weight: 600;
    margin-bottom: 30px;
    will-change: transform;
}
.menuItem p:hover a {
    /* color: var(--mainColor); */
    color: #B2FF5A;
    /* letter-spacing: 2px; */
}

.menuItem p a {
    color: #000;
    text-decoration: none;
    text-transform: uppercase;
    transition: 0.6s all;
}
.menuItem{
        text-align: center;
    clip-path: polygon(0 0 , 100% 0 , 100% 100% , 0 100%);
}



.mainHeaderContent{
    position: absolute;
    top: 21%;
    left: 0;
}


.firstHeading h1{
    font-size: 175px;
    text-transform: uppercase;
    font-weight: 800;
    color: var(--mainColor);
}

.imgWrapper{
    padding: 4px 7px;
    border-radius: 42px;
    background-image: url(../imgs/imageWithpause.jpg);
    object-fit: cover;
    width: 60%;
    margin-top: 93px;
     

}
.iconWrapper{
    width: 69px;
    height: 69px;
    border-radius: 50%;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.imgWrapper i{
    color: var(--mainColor);
    font-size: 30px;
}

.secondRow .secondHeading h2{
    font-size: 175px;
    text-transform: uppercase;
    font-weight: 800;
}

.secondRow{
    position: relative;
    top: -35px;
}
.secondRowPara{
    width: 100%;
    font-size: 24px;
    margin-top: 83px;
    color: var(--mainColor);
}
.thirdRowLeft h5{
    margin-bottom: 0;
    transition: 0.3s all;

}

.bestAgency , .WorldClassAgency{
    border: 1px solid var(--mainColor);
    padding: 15px 25px;
    border-radius: 40px;
}
.bestAgency h5, .WorldClassAgency h5{
    color: var(--mainColor);
}
.bestAgency i, .WorldClassAgency i{
    margin-right: 18px;
    font-size: 25px;
    transition: 0.3s all;
    color: var(--mainColor);
}
.bestAgency{
    margin-right: 25px;
}
.bestAgency:hover i{
    
    transform: translateX(10px);
}
.WorldClassAgency:hover i{
    
    transform: translateX(10px);
}


.lineImg{
    margin-right: 15px;
}
.lineImg img , .CircleImg img{
    width: 100%;
}

.firstRow{
    width: 60%;
}
.secondRow{
    width: 44%;
}
.lastPartIconWrapper{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    right: 0;
    border: 9px dashed  var(--mainColor);
    padding: 20px;
    animation: infinite cubic-bezier(0.25, 0.46, 0.45, 0.94) infinteRotate 2s alternate-reverse;
   
}
@keyframes infinteRotate {
    from{
        transform: rotateZ(0deg);
    }
    to{
        transform: rotateZ(360deg);

    }
}

/* what we do */
.whatWeDo{
    padding: 200px 0;
    color: #fff;
}
.whatWeDo .allH2 {
    margin-bottom: 50px;
}
.whatWeDo .allH2 h2{
    font-size: 50px;
}
.whatWeDo span{
    display: inline-block;
    margin-bottom: 50px;
    color: var(--mainColor);
    font-weight: 900;
}
.whatWeDo button{
    padding: 17px 45px;
    border-radius: 30px;
    position: relative;
    overflow: hidden;
    z-index: 123;
    border: none;
    outline: none;
}
.whatWeDo button:hover::before{
    
    width: 100%;
    top: 0;
    right: 0;
    transform: translateY(0);
    height: 100%;
    border-radius: 0;
    z-index: -1;
}
.whatWeDo button::before{
    
    position: absolute;
    content: "";
    width: 20px;
    height: 20px;
    top: 50%;
    right:20px ;
    border-radius: 50%;
    transform: translateY(-50%);
    background-color: var(--mainColor);
    /* transition: 0.3s all; */
    transition: all 0.3s cubic-bezier(1.000, 0.000, 0.000, 1.000); 
}


/* more projects sec */

.morePrrojects button{
    padding: 17px 45px;
    border-radius: 30px;
    position: relative;
    overflow: hidden;
    z-index: 123;
    border: none;
    outline: none;
}
.morePrrojects button:hover::before{
    
    width: 100%;
    top: 0;
    right: 0;
    transform: translateY(0);
    height: 100%;
    border-radius: 0;
    z-index: -1;
}
.morePrrojects button::before{
    
    position: absolute;
    content: "";
    width: 20px;
    height: 20px;
    top: 50%;
    right:20px ;
    border-radius: 50%;
    transform: translateY(-50%);
    background-color: var(--mainColor);
    /* transition: 0.3s all; */
    transition: all 0.3s cubic-bezier(1.000, 0.000, 0.000, 1.000); 
}

.allPara p{
    font-size: 33px;
    color: #FFF;
    line-height: 24px;
}

/* gitar line sec */
.gitarLine{
    width: 100%;
    height: 500px;
    /* background-color: red; */
}



/* cards section */
.mainHeader{
    padding:200px 0;
}
.mainHeader h2{
    font-size: 190px;
    color: #fff;
}
.myCol {
    min-height: 788px;
    margin-bottom: 200px;
}
.cardInner {
    height: 100%;
    border-radius: 15px;
    overflow: hidden;
}
.cardInner:hover img {
    transform: scale(1.2);
}


.cardInner img {
    height: 100%;
    border-radius: 15px;
    transition: 0.3s all;
}
.myCol figcaption{
padding: 20px 0;
color: #fff;
transition: 0.3s all;
}

.myCol figcaption h6{
    font-size: 32px;
}
.myCol figcaption p{
    color: #ddd;
}

/* horizontal scroll */
.racesWrapper{
    margin-bottom: 100px;
    overflow: hidden;
}
.races {
	width:fit-content;
	display:flex;
	flex-wrap:nowrap;
}

.races h2 {
	
	font-size:30vw;
	flex-shrink:0;
	padding-right:0.3em;
	padding-left:0.3em;
	color:var(--mainColor);
	margin:0;	
}

.races h2:last-of-type {
	background:var(--mainColor);
    color: #fff;
}





/* end horizontal scroll */


/* where we thrives */
.whereWeThrive{
    background-color: #fff;
    border-top-left-radius: 222px;
    border-top-right-radius: 222px;
    
}
.whereWeThrive h2{
    color: black ;
}
.thrivesAllP p {
    color: black;
    font-size: 4rem;
    text-transform: uppercase;
    line-height: 7rem;
    padding: 30px 0;
    border-bottom: 2px solid black;
}
.whereWeThrive button{
    padding: 17px 45px;
    border-radius: 30px;
    position: relative;
    overflow: hidden;
    z-index: 123;
    background-color: var(--mainColor);
    color: black;
    border: none;
    outline: none;
    transition: 0.3s all;
    margin-top: 50px;
}
.whereWeThrive button:hover{
    
    color: #fff;
}
.whereWeThrive button:hover::before{
    
    width: 100%;
    top: 0;
    right: 0;
    transform: translateY(0);
    height: 100%;
    border-radius: 0;
    z-index: -1;
}
.whereWeThrive button::before{
    
    position: absolute;
    content: "";
    width: 20px;
    height: 20px;
    top: 50%;
    right:20px ;
    border-radius: 50%;
    transform: translateY(-50%);
    background-color: black;
    /* transition: 0.3s all; */
    transition: all 0.3s cubic-bezier(1.000, 0.000, 0.000, 1.000); 
}
.thrivesBtn{
    text-align: center;
}
/* clients */
.clients{
    background-color: #fff;
}
.clients h2{
    color: black;
}
.clientInner {

    text-align: center;
    margin-bottom: 50px;
}
.clientInner img{

    width: 50%;
}



/* moving right or left depending on scrooling */
.moveDependOnScrollSection{
    padding: 48px 0 0 0;
    background-color: #fff;
}
.move{
    background-color: var(--mainColor);
    padding: 30px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    overflow: hidden;
}
.move .inner{
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    color: black;
    transform: translateX(-100%);
}
.move .inner h2{
    text-transform: uppercase;
    font-size: 45px;
}
.move .inner img{
    width: 80px;
    height: 80px;
}


/* footer */


